.footer__links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__links {
        flex-direction: column;
        justify-content: space-between;
        height: calc(310px - 14px - 48px);
    }
}
