.cover__background {
    color: white;
    max-width: 1184px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../../images/cover-trains.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    text-decoration: none;
    z-index: 1;
    min-height: calc(1184px / 1.6);
    
   
}

.cover__background::before {
    content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2a2c2f;
    opacity: .3;
    transition: opacity .2s linear;
}

.cover__background:hover::before {
    opacity: .8;
}
