.place__url-heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #aaaaaa;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__url-heading {
        line-height: 12px;
    }
    
}